<div class="item-detail">
  <a href="/menu/{{prevId}}" class="nav" data-id="{{prevId}}"></a>
  <img src="{{image}}">

    <div id="detail">
      <div>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
      </div>
      <div>
        <p>${{format_price price}}</p>
        <p class="button add">+ add to cart</p>
      </div>
    </div>

    <div id="nutrition">
      <p>Nutritional Information</p>
      <table>
        <tr>
         <td>Protein</td>
         <td>{{nutrition.protein}}</td>
        </tr>
        <tr>
         <td>Fat(total)</td>
         <td>{{nutrition.fat}}</td>
        </tr>
        <tr>
         <td>Carbohydrate</td>
         <td>{{nutrition.carbohydrate}}</td>
        </tr>
        <tr>
         <td>Energy(kJ)</td>
         <td>{{nutrition.energy}}</td>
        </tr>
        <tr>
         <td>Energy(kcal)</td>
         <td>{{to_kcal nutrition.energy}}</td>
        </tr>
        <tr>
         <td>Sugar</td>
         <td>{{nutrition.sugar}}</td>
        </tr>
      </table>
    </div>
  <a href="/menu/{{nextId}}" class="nav" data-id="{{nextId}}"></a>
</div>